*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #DFDFDF;
}

/* .logs{
    width: 800px ;
    margin: 50px auto;
    padding: 20px;
    background-color: #bfa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

/* .item {
    background-color: #FCBF49;
    display: flex;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 16px 0;
}

.data{
    width:90px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;

}
.content {
    flex: auto;
    flex-direction: column;
    align-items: center; 
    font-weight: bold;
    margin: 10px,10px;
    background-color: aqua;
  
}
.month{
    height: 30px;
    line-height: 30px;
    background-color: #D62828;
    color: #fff;
}

.day {
    height: 60px;
    line-height: 60px;
    font-size: 50px;
}



.desc{
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #D62828;
}
.time {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #D62828;
} */
